streamlit
python-dotenv
azure-ai-documentintelligence
azure-core
tiktoken

## RAG
langchain
langchain-community
sentence-transformers
langchain-openai
faiss-cpu
pypdf
unstructured
unstructured[local-inference]
openai
