streamlit
python-dotenv==1.0.1
azure-ai-documentintelligence
azure-core
tiktoken

## RAG
langchain
langchain-community
sentence-transformers
langchain-openai
faiss-cpu
pypdf
unstructured
unstructured[local-inference]
openai
opencv-python-headless==4.11.0.86
opencv-python==4.11.0.86 --hash=sha256:0  ; sys_platform=="avoid"
